:root {
  --background: rgb(214, 147, 159);
  --secondary: rgb(199, 242, 255);
  --tex: rgb(250, 125, 154);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  font-weight: bold;
}

header {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

nav {
  display: flex;
  gap: 100px;
}

.nav-list {
  display: flex;
  gap: 30px;
  color: var(--tex);
}

a {
  color: var(--tex);
  font-size: 15px;
}
