* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

nav {
  display: flex;
  gap: 100px;
}

.nav-list {
  display: flex;
  gap: 50px;
}
